<div class="container">
    <h1>Sites list</h1>
    <ul>
        {{#each list}}
            <li>
                <a href="https://{{domain}}" target="_blank">{{name}}</a>
            </li>
        {{/each}}
    </ul>
</div>
